@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,900;1,300;1,400;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap');


body,
html {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(119.13deg, #FFFFFF 3.18%, #E7E7E7 89.87%);
}
.user_card {
    width: 436px;
    margin-top: auto;
    margin-bottom: auto;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 89px 0px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 21px;

}

.form_container {
    height: 80%;
    margin-top: 20px;
    padding: 20px 0;
}

#form-title{
    color: #000000;
}

.login_btn {
    /* width: 100%; */
    background: linear-gradient(90deg, rgba(50,186,217,1) 0%, rgba(72,217,202,1) 100%) !important;
    color: white !important;
}

.login_btn:hover {
    background: #48D9CA;
    color: #fff;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
/* .login_container {
    padding: 0 2rem;
    margin: 2rem;
} */
.input-group-text {
    background: #2D91DE !important;
    opacity: 0.8;
    color: white !important;
    /* border: 0 !important; */
    /* border-radius: 0.25rem 0 0 0.25rem !important; */
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.links-text{
    color:#754798;
}

#messages{
    background-color: grey;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
}