@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,900;1,300;1,400;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap');

h1 {
    padding-top: 100px;
    font-family: 'Nunito', sans-serif;
    font-size: 48px;
    font-weight: 1000;
    background: linear-gradient(90deg, rgba(121,119,180,1) 0%, rgba(155,152,255,1) 38%, rgba(72,217,202,1) 84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 52px;
}

