
.hasil {
    width: 450px;
    padding: 32px;
    border: solid 3px #48D9CA;
    background-color: #F0F9FE;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    align-content: center;
}

.judul{
    font-size: 36px;
    line-height: 42px;
    color: #48D9CA;
    font-weight: 900;
}
