{% load static %}
<nav class="navbar">
    <div class="navbar-right">
        {% if user.is_authenticated %}
        <div class="user-button">
            <div class="user-header">
                <img src="#" class="user-menu-avatar">
                {{user.first_name}}
                <i class="fas fa-angle-down"></i>
            </div>
            <div class="user-menu collapse">
                <a href="#"><i class="fas fa-shopping-cart"></i> Cart</a>
                <a onclick="signOut()"><i class="fas fa-sign-out-alt"></i> Logout</a>
                <div class="google-sign-in-hide">
                    <div class="g-signin2" data-onsuccess="onSignIn"></div>
                </div>
            </div>
        </div>
        {% else %}
        <a href="/auth/">
            <button class="nav-login-button">
                Login
            </button>
        </a>
        {% endif %}
    </div>
</nav>
<script>
    $(document).ready(function(){
        $('.user-button').on('click', function(){
            if($('.user-menu').hasClass('collapse')){
                $('.user-menu').removeClass('collapse');
            }else{
                $('.user-menu').addClass('collapse');
            }
        });

        
    })

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          window.location.replace("/auth/logout/");
        });
      }
    
</script>