{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

<html> 
  {% block content %}
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=DM Sans'>
  </head>

  <style>
    #canvas-wrapper.dark-mode {
      background: #222;
      color: #DDD;
    }
  </style>

  <body>
    <div id="canvas-wrapper">
    <br>
    <br>
    <h1>
      <div class="mt-5 text-center font-weight-bold mb-4">
        <span class="gradasi">Feedback Tentang Website Kami</span>
      </div>
    </h1>
    <br>
    
    {% if user.is_authenticated %}
    <h1 style="color: #48D9CA;" class="text-center font-weight-bold"> Halo, {{ user.username }}! </h1><br>

    <div class="container bg_hijau rounded">
        <br>
        <div>
          <form action="" id ="formku" method="POST">
            {% csrf_token %}
            {{ formulir|crispy }}
            <input type = "submit"  class="btn btn-grad my-5" value="Submit"> 
          </form>
        </div>
        <div id="alert-box"></div>
        <br>
    </div>

    <button class = "switch ml-5 mt-4 btn btn-grad">darkmode</button>
    
    <h3 class="mt-5 text-center font-weight-bold">Jumlah Feedback yang telah masuk:
      <span class="gradasi" id= "jumlah_feedback">{{jumlah_feedback}}</span></h3>
      <br>
      <br>

    {% else %}

    <div class="container bg_hijau rounded">
      <br>
      <div>
        <p> Login <a href="{% url 'accounts:login' %}"> di sini </a> untuk memasukkan feedback.</p>
      </div>
      <br>
    </div>

    <h3 class="mt-5 text-center font-weight-bold">Jumlah Feedback yang telah masuk:
    <span class="gradasi">{{jumlah_feedback}}</span></h3>
    <br>
    <br>
    
    {% endif %}
    <script src="{% static 'script.js' %}"></script>
    </div>
  </body>
  {% endblock content %}
</html>