{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=DM Sans'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        body {
            font-family: 'Nunito', sans-serif;
        } 

        .tampilkan-donasi {
            background-color:#ededed;
            padding: 50px;
            border: solid 2px #48d9ca;
            margin: 100px;
            
        }

        .judul {
            background: -webkit-linear-gradient(#7977B4,#9B98FF,#48D9CA);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: center; 
            font-size: 48px;
            font-weight: 1000;
            font-family: 'Nunito', sans-serif;
            line-height: 52px;
        }

        
        .btn-grad {
        background-image: linear-gradient(to right, #24C6DC 0%, #7977B4  51%, #24C6DC  100%);
        margin: 10px;
        padding: 10px 15px;
        text-align: center;
        font-weight: bold;
        transition: 0.5s;
        letter-spacing: 1px;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
        }

        .btn-grad:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
        }
    </style>
  </head>

</body>
<br>
<br>
<br>
<br>
    <p class="judul">Donasi</p>
    <div class="tampilkan-donasi shadow rounded">
    <p style="font-size: 25px; text-align: center; font-weight: bold; ">Total Donasi Terkumpul</p>
        <br>
        <br>
        <p style="font-size: 35px;color:  #48d9ca; text-align: center; font-weight: bold;">Rp</p>
        <div style="font-size: 35px;color:  #48d9ca; text-align: center; font-weight: bold;" id='donasi'></div>
        <div class="row justify-content-center">
        <a href="form/" class="btn btn-grad my-5" style="font-size: 15px; width: 270px;"> Donasi Sekarang </a>
        </div>
    </div>
</body>
{% endblock content %}

{% block extra_script %}
    <script>
        const url = window.location.pathname;
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: `/donasi/ajax/`,
                success: function tes(json) {
                    console.log(json)
                    donasi = json.total_donasi
                    temp = " " + donasi
                    document.getElementById("donasi").innerHTML = temp;
                }
            });
        })
    </script>
{% endblock extra_script %}
