{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<head>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=DM Sans'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        body {
            font-family: 'DM Sans';
            } 

        .form-donasi {
            margin: 100px;
            background-color:rgba(72, 217, 202, 0.7);
            padding: 50px;
        }
        .judul {
            background: -webkit-linear-gradient(#7977B4,#9B98FF,#48D9CA);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: center; 
            font-size: 40px;
            font-weight: bold;
        }

        .btn-grad {
        background-image: linear-gradient(to right, #24C6DC 0%, #7977B4  51%, #24C6DC  100%);
        margin: 10px;
        padding: 10px 15px;
        text-align: center;
        font-weight: bold;
        letter-spacing: 1px;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
        }

        .btn-grad:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
        }

    </style>
  </head>
  
<body>
<br>
<br>
<br>
<br>
<p class="judul">Donasi</p>
{% if user.is_authenticated %}
<div class="form-donasi rounded" style="font-size: 20px;">
    <form id="donasi-post" method="POST">
    {% csrf_token %}
    <fieldset>
        {{ form|crispy }}
    </fieldset>
        <div>
            <input type="submit" class="btn btn-grad my-5" value="Bayar">
        </div>
</form>
</div>
{% else %}
<div class="form-donasi rounded" style="font-size: 20px;">
<p> Login <a href="{% url 'accounts:login' %}"> di sini </a> untuk melakukan donasi.</p></div>

{% endif %}
</body>
{% endblock content %}
{% block extra_script %}
    <script>
        const url = window.location.pathname

        function ajax() {
            $.ajax({
                type: "POST",
                url: `/donasi/form/ajax/`,
                data: {
                    nama: $('#data-nama').val(),
                    nomor: $('#data-nomor').val(),
                    nominal: $('#data-nominal').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    dataType: "json"
                },
                success: function (response) {
                    console.log(response)
                    $('#data-nama').val(""); // remove the value from the input
                    $('#data-nomor').val("");
                    $('#data-nominal').val("");
                }
            });
        }

        $('#donasi-post').on('submit', function (event) {
            event.preventDefault();
            ajax();
        });
    </script>
{% endblock extra_script %}
